// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';


#demo {
    div.container {
        margin-top: 50px;

        h5 {
            margin-bottom: 30px;
        }

        svg {
            margin-left: 5px;
        }
    }
}
